
<b-container tag="section" class="products">
  <h1 class="my-5">Products</h1>
  <b-row>
    <b-col tag="router-link" md="4" sm="6" v-for="product in products" :key="product.id" :to="{ name: 'product', params: { id: product.id } }" class="my-3">
      <article>
        <figure class="mb-3">
          <b-img fluid :src="product.images[0].src" :alt="product.images[0].alt" />
        </figure>
        <h3>{{ product.name }}</h3>
        <span class="h6" v-html="product.price_html"></span>
      </article>
    </b-col>
  </b-row>
</b-container>

