.products {

}

a {
  color: inherit;
  text-decoration: none;
}

figure {
  height: 20rem;
  display: flex;
  align-items: center;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}
