
<b-container tag="section" class="my-5" v-if="product">
  <b-row>
    <b-col md="6" tag="figure" class="my-2">
      <b-img :src="product.images[0].src" :alt="product.images[0].alt" fluid />
    </b-col>
    <b-col md="6" tag="article" class="my-2 d-flex flex-column justify-content-between">
      <header>
        <h1>{{ product.name }}</h1>
        <span class="h5" v-html="product.price_html"></span>
      </header>
      <section v-html="product.short_description"></section>
      <footer>
        <b-btn variant="outline-dark" size="lg">Add to cart</b-btn>
      </footer>
    </b-col>
  </b-row>
</b-container>
